/*京东网页初始化CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em, i {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

a {
    text-decoration: none;
}


button, input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    outline: none;
}

body {
    -webkit-font-smoothing: antialiased;
}

.hide, .none {
    display: none
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}